.tableSchedule {
    /* border-spacing: 10px; razmak izmedju cells (trenutno nema smisla jer ga border-collapse spaja)*/
    border-collapse: collapse; /* da bi se spojile sve linije, bez ovoga su samo linije oko teksta za svaku celiju */
    width: 100%
  }

.tableSchedule, .tableEl {
  border: 1px solid;  /* Oko tabele, redova i celija linija */
}

.tableStatus {        
        border: 0pt;
        border-collapse: collapse;
        width: 100%
}

.teStatusFirstRow {
        border: 0pt;
        border-bottom: 1pt solid #000000;
}

.teStatusColumn{
        border: 0pt;
        border-right: 1pt solid #000000;
}

.teStatus{
        border: 0pt;
}

.energyValue{
        height: 30%;
        width: auto;
        color: white;
        font-size: large;
        border: 1pt solid #000000;
        background-color: #3C3431;
}

.buttonWithoutRadius {
  border-radius: 0px;
} 

.MuiButton-root {
  border-color: black;
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.swing-out-top-bck {
	-webkit-animation: swing-out-top-bck 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: swing-out-top-bck 1s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

 @-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

 @-webkit-keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}

@keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}
