#bottom {
	position: absolute;
	bottom: 0;
	left: 0;
  }

#divBottom{
	position: relative;
}

.textInfo {
	content: "text";
	color:black;
	font-weight: bold;
	font-style: italic;
}

.groceryClass{
	width: inherit;
}
.tableSchedule {
    /* border-spacing: 10px; razmak izmedju cells (trenutno nema smisla jer ga border-collapse spaja)*/
    border-collapse: collapse; /* da bi se spojile sve linije, bez ovoga su samo linije oko teksta za svaku celiju */
    width: 100%
}


td{
	text-overflow: ellipsis;
	font-weight: 1.875em;
	text-align:center;
  	vertical-align:middle;
	width: 12.5%;
	height: 16.6%
}

.tdClassName {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.tableSchedule, tr, td, th {
border: 1px solid;  /* Oko tabele, redova i celija linija */
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	
	/* Force table to not be like tables anymore */
	table, 
	thead, 
	tbody, 
	th, 
	td, 
	tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	tr { border: 1px solid black; }
 
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid black; 
		position: relative;
		padding-left: 50%; 
	}
 
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
 
	/*
	Label the data
	*/
	td:before { content: attr(data-title); }
}